@import url('https://fonts.googleapis.com/css?family=Raleway');

#myForm{
	text-align: center;
}

input{
	height: 50px;
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	margin: 25px;

}
.pbar{
	text-align: center;
}

canvas{
	text-align: center;
	padding: 15px;
}

.heading{
	padding: 20px;
	background-color: rgba(127,227,127,1);
	color: white;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.ins{
	font-family: 'Raleway', sans-serif;
	padding-left: 100px;
	font-size: 25px;
	margin-right: 25px;
}

.mopt{
	text-align: center;
	padding: 20px;

}

.mopt a{
	text-decoration: none;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	border-radius: 10px;
	background-color: #F7941E;
	border: solid 2px white;
	color: white;
	margin: 10px;
	padding: 15px;
}

.mopt a:hover{
	color: #F7941E;
	border: solid 2px #F7941E;
	background-color: white;
}